{% extends 'base.html' %}
	{% load static %}

	{% block title %}<title> Store </title>{% endblock %}

	{% block content %}
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li><a href="#">All Categories</a></li>
							<li><a href="#">Accessories</a></li>
							<li class="active">Headphones (227,490 Results)</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Categories</h3>
							<div class="checkbox-filter">
								<div class="input-checkbox">
									<input type="checkbox" 
									{% if lable == 0 %}
										checked
									{% endif %}
									 id="category-1">
									<label for="category-1">
										<span></span>
										All
									</label>
								</div>
								{% for category in Categories %}
								<div class="input-checkbox">
									<input type="checkbox"
									{% if lable == category.id %}
										checked
									{% endif %}
									id="{{category.id}}">
									<label for="{{category.id}}">
										<span></span>
										{{category.name}}
									</label>
								</div>
								{% endfor %}


							</div>
						</div>
						<!-- /aside Widget -->

					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<label>
									Sort By:
									<select class="input-select">
										<option value="0">Popular</option>
										<option value="1">Position</option>
									</select>
								</label>

								<label>
									Show:
									<select class="input-select">
										<option value="0">20</option>
										<option value="1">50</option>
									</select>
								</label>
							</div>
							<ul class="store-grid">
								<li class="active"><i class="fa fa-th"></i></li>
								<li><a href="#"><i class="fa fa-th-list"></i></a></li>
							</ul>
						</div>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row">
							<!-- product -->
							{% load at_to_cart %}
							{% for product in Products %}
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{{product.img.url}}" alt="">
										<div class="product-label">
											{% if product.discount %}
													<span class="sale">{{product.discount}}%</span>
												{% endif %}
												{% if product.tag %}
													<span class="new">{{product.tag}}</span>
											{% endif %}
										</div>
									</div>
									<div class="product-body">
										<p class="product-category">{{product.category.name}}</p>
										<h3 class="product-name"><a href="#">{{product.title}}</a></h3>
										<h4 class="product-price">${{product.price}} </h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
											<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<button type="submit" onclick="product_add_to_cart({{product.id}})" class=" product_cart_btn-{{product.id}}
										{% if product.id|checkAdToCart:request.user.id %}
											btn-success
										{% else %}
											add-to-cart-btn
										{% endif %}
										"><i class="fa fa-shopping-cart"></i> 
										{% if product.id|checkAdToCart:request.user.id %}
											in cart
										{% else %}
											add to cart
										{% endif %}
									</button>													
									</div>
								</div>
							</div>
							<div class="clearfix visible-sm visible-xs"></div>
							{% endfor %}
							<!-- /product -->

							


							
						<!-- /store products -->

						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							<span class="store-qty">Showing 20-100 products</span>
							<ul class="store-pagination">
								<li class="active">1</li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->


		<script>

			function product_add_to_cart(product_id){
				console.log(product_id)
				var csrfToken = getCookie('csrftoken');
				$.ajax({
					type: 'POST',
					url: '/addToCart/',
					data:{
						'csrfmiddlewaretoken': csrfToken ,
						'product_id':product_id,
					},
					success: function(data) {
						console.log(data.CartCount)
						$(`.product_cart_btn-${product_id}`).removeClass('add-to-cart-btn');
						$(`.product_cart_btn-${product_id}`).addClass('btn-success');
						$(`.product_cart_btn-${product_id}`).text('in cart');
						
						
						$(`.cart-count`).text(data.CartCount);



						},
						error: function(xhr) {
							// Handle error
							console.log(xhr.responseText);
						}
					});
			}

			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = cookies[i].trim();
						// Check if the cookie name matches the csrfmiddlewaretoken format
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}


		</script>
		{% endblock %}